@CHARSET "UTF-8";

html body { font-family:'Arial'; font-size:13px; padding:0px; margin:0px; padding-top:7px; } 
h1, .h1 { font-size:18px; padding:0px; margin:10px 0 25px 0; color:black; font-weight:normal; color:#303d7d; }
h2, .h2 { font-size:18px; padding:0px; margin:20px 0 15px 0; color:black; font-weight:normal; color:#303d7d; }

.wrap {width:900px; margin:0 auto; }

span, div, p { white-space:normal; }

.pager { float:left; margin-top:10px; }

.pager span,
.pager a  { 
	color:black;
	width:20px; font-size:13px; width:22px; padding:1px 0; text-align:center; 
	display:inline-block; 
	border:solid 1px silver;
	text-decoration:none;
	border-radius:4px;
	font-family:'Trebuchet MS';
	margin-right:5px;
	margin-bottom:5px;
}

.pager span:hover,

.pager a:hover {
	background-color:#cecece;
	color:black;
}

.pager span  {
	background-color:#cecece;
	color:black;
}