<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<head>
		<title>{{title}}</title> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
	</head>
<body>  
	<div class="wrap">
		<h1>{{title}}</h1>
		
		<div id="news_item">				
		</div>
		
		<div id="news_list">				
		</div>	
				
		<div class="pager" id="pager">				
		</div>	
		
		<script>			
			$(document).ready(function() {
				loadNewsList(1);
			});			
			
			function loadNewsList(page)
			{
				var url = "{{ path('_news_list_page', {'page':'page'}) }}".replace('page', page);
				$.ajax({
					url: url,
					success: function(data) {
						var res = jQuery.parseJSON(data);
						var pager = res.pager;
						var news = res.news;
						
						$('#news_list').html('');
						$('#pager').html('');
						$('#news_item').html('');
						
						// выводим новости
						$.each(news, function(index, value) {	
							var date = new Date(value.createdAt.timestamp*1000);	
							$('#news_list').append('<div><strong><a class="news_a" href="/news/' + value.id + '">' + value.label + '</a></strong>' + '<br><br><i>' + date + '</i></div><hr>');
						});						
						
						// выводи пейджер
						for (i=1; i<=pager.count; i++) {
							if (i != pager.page) {
								$('#pager').append('<a href="/news/list/' + i + '" class="page_a">' + i + '</a>');
							} else {
								$('#pager').append('<span>' + i + '</span>');
							}	
						}

						// навешиваем события
						$("a.page_a").each(function(index) {
							$(this).on("click", function(){
								var url = $(this).attr('href');	
								var arr = url.split('/');
								var page = arr[arr.length - 1];
									
								loadNewsList(page);
								return false;
							});
						});

						// навешиваем события
						$("a.news_a").each(function(index) {
							$(this).on("click", function(){
								var url = $(this).attr('href');	
								var arr = url.split('/');
								var id = arr[arr.length - 1];
									
								loadNews(id);
								return false;
							});
						});						
					}
				});		

				return false;
			}
			
			function loadNews(id)
			{
				var url = "{{ path('_news_item', {'id':'0'}) }}".replace('0', id);
				$.ajax({
					url: url,
					success: function(data) {
						var news = jQuery.parseJSON(data);
						
						$('#news_list').html('');
						$('#pager').html('');
						
						var date = new Date(news.createdAt.timestamp*1000);	
						$('#news_item').append('<div><strong>' + news.label + '</strong>' + '<br>' + news.text + '<i>' + date + '</i></div>');						
						$('#news_item').append('<br><div><a href="#" onclick="loadNewsList(1);">Вернуться к скписку новостей</a></div>');						
					}
				});				
			}			
		</script>		
	</div>
	</body>
</html>	